* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}

.magazine {
    margin: 20px;
}

.title {
    font-size: 30px;
    margin: 20px 0;
}

.content {
    font-size: 16px;
    margin: 15px 0;
}

@media screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }
}