* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    width: 900px;
    height: 100px;
    background-color: red;
}

@media screen and (max-width: 900px) {
    .card {
        width: 50%;
        height: 100px;
    }
}

@media screen and (max-width: 600px) {
    .card {
        background-color: blue;
    }
}

@media screen and (max-width: 300px) {
    .card {
        background-color: yellow;
    }
}